{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/comments/comment-index.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>All Cat Toys</h1>
  <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
  <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
  <img src="{% static 'images/post.svg' %}" alt="A scratching post" />
  <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
</section>

<section class="card-container">
  {% for comment in comment_list %}
    <div class="card" style="border-color: {{ comment.color }}">
      <div class="card-bg" style="background-color: {{ comment.color }}"></div>
      <a href="{% url 'comment-detail' comment.id %}">
        <div class="card-content">
          <h2>{{ comment.name }}</h2>
          <p>A {{ comment.color }} comment</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
