{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

  <div class="page-header">
  
    {% if recipe %}
      <h1>Edit {{ recipe.title }}</h1>
    {% else %}
      <h1>Add a Recipe</h1>
    {% endif %}
  <img src="{% static 'images/ingredients.svg' %}" alt="A group of foods" />
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
