{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <h1>Delete Recipe?</h1>
  <img src="{% static 'images/ingredients.svg'%}" alt="A group of food ingredients" />
</div>

<h2>Are you sure you want to delete {{ recipe.title }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'recipe-detail' recipe.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}
