{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/recipes/recipe-details.css' %}" />
{% endblock %} 
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/recipe.svg' %}" alt="A Recipe book" />
  </div>
  <div class="cat-details">
    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>
    <div class="cat-actions">
        <a href="{% url 'recipe-update' recipe.id %}" class="btn warn">Edit</a>
        <a href="{% url 'recipe-delete' recipe.id %}" class="btn danger">Delete</a>
      </div>
  </div>
</section>
{% endblock %}
