{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/recipes/recipe-details.css' %}" />
{% endblock %} 
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/recipe.svg' %}" alt="A Recipe book" />
  </div>
  <div class="cat-details">
    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>
    <div class="cat-actions">
        <a href="{% url 'recipe-update' recipe.id %}" class="btn warn">Edit</a>
        <a href="{% url 'recipe-delete' recipe.id %}" class="btn danger">Delete</a>
      </div>
  </div>
</section>
<!-- Existing cat-container above -->
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Made Recipe</h2>
      <img
        src="{% static 'images/cat-cone.svg' %}"
        alt="An ice cream cone cat"
      />
      <img src="{% static 'images/cat-onigiri.svg' %}" alt="A cat as onigiri" />
      <img
        src="{% static 'images/kitty-kabob.svg' %}"
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add-meal' recipe.id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %} 
      {{ meal_form.as_p }}
      <button type="submit" class="btn submit">Add Entry </button>
    </form>
    <h3>Past Meals</h3>
{% if recipe.meal_set.all.count %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in recipe.meal_set.all %}
          <tr>
            <td>{{meal.date}}</td>
            <td>{{meal.get_type_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
  <div class="subsection-content">
    <p>⚠️ {{cat.name}} has not been fed!</p>
  </div>
{% endif %}
  </section>
</div>

{% endblock %}
