{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/recipes/recipe-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Cat List</h1>
  <img
    src="{% static 'images/food_items.svg' %}"
    alt="A group of veggies"
  />
</section>

<section class="card-container">
    {% for recipe in recipes %}
      <div class="card">
        <a href="{% url 'recipe-detail' recipe.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img
                src="{% static 'images/recipe.svg' %}"
                alt="A recipe book"
              />
            </div>
            <h2 class="card-title">{{ recipe.title }}</h2>
            <p><small>{{ recipe.description }}</small></p>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>

{% endblock %}
